<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete User</title>
</head>
<body>
    <h1>Delete User</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('delete_users') }}" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
